footer {
	background-color: $darker;
	@include padding(90, 0, 50, 0);
	@include margin(60, 0, 0, 0);
	.container {
		.row {
			.ft-left {
				.ft-logo {
					a {
						@include margin(0, 0, 20, 0);
						img {
							object-fit: contain;
							height: 5rem;
							width: auto;
						}
					}
					p {
						@include font-size(20);
					}
				}
			}
			.ft-middle {
				padding-top: 2.5rem;
				h1 {
					@include font-size(28);
					@include margin(0, 0, 30, 0);
				}
				div {
					@include margin(0, 0, 15, 0);
					p {
						@include font-size(20);
						margin: 0;
					}

					&.social {
						a {
							img {
								@include width(40);
								@include height(40);
							}
							@include margin(0, 5, 0, 0);
						}
					}
				}
			}
			.ft-right {
				padding-top: 2.5rem;
				h1,
				h2 {
					@include font-size(28);
					@include margin(0, 0, 30, 0);
				}
				.wp-block-group__inner-container {
					ul {
						li {
							@include margin(0, 0, 10, 0);
							a {
								@include font-size(20);
								color: $text;
								line-height: 120%;

								&:hover {
									color: $primary;
								}
							}
						}
					}
				}
			}
		}
	}
}

.footer-last {
	background-color: #19191c;
	.copyright {
		@include padding(20, 0, 20, 0);
		.footer-menu {
			@include margin(0, 0, 15, 0);
			.menu-footer-menu-container {
				ul {
					display: flex;
					padding: 0;
					margin: 0;
					justify-content: center;
					flex-wrap: wrap;

					li {
						list-style: none;
						@include font-size(18);
						border-right: 1px solid $text;
						border-color: white;
						a {
							@include padding(2, 10, 2, 10);
							@include margin(0, 5, 0, 5);
							font-weight: 700;
							color: $white;
							&:hover {
								color: $text;
							}
						}

						&:last-child {
							border: none;
						}

						@include set(555) {
							@include margin(0, 0, 12, 0);
						}
					}
				}
			}
		}

		.copyright-message {
			display: flex;
			justify-content: center;
			p {
				@include font-size(16);
				color: $text;
				margin: 0;
			}
		}
	}
}
