nav {
	z-index: 5;
	// background-color: rgba($darker, $alpha: 0.9);
	position: fixed;
	width: 100%;

	transition: all 0.2s ease-in-out;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: #{toRem(78)};

		.logo {
			font-size: 2rem;
			img {
				@include height(51);
				// @include width(90);
				max-width: #{toRem(90)};
			}
		}

		.navbar-brand {
			img {
				@include height(51);
				// @include width(90);
				max-width: #{toRem(90)};
				object-fit: contain;
			}
		}

		.nav-links {
			display: flex;
			justify-content: space-around;
			margin: 0;

			li {
				position: relative;
				list-style: none;
				display: contents;

				a {
					@include font-size(16);
					padding: 0;
					@include margin(0, 0, 0, 26);
					text-transform: capitalize;
					font-weight: 400;
					color: $white;
					transition: all 0.2s ease-in-out;

					@include set(768) {
						font-size: 3rem;
					}
					@include set(450) {
						font-size: 2rem;
					}

					&:hover {
						color: $text;
					}
				}

				.cart-icon {
					cursor: pointer;
					height: 1.5rem;

					@include set(768) {
						display: none;
					}
				}

				@include set(450) {
					font-size: 2rem;
					margin: 2.5rem 0 !important;
				}
			}

			&.nav-active {
				@include set(500) {
					width: 100%;
				}
			}
		}

		.ham-burger {
			display: none;

			.line {
				width: 25px;
				height: 3px;
				background-color: $white;
				margin: 5px;
				transition: all 0.3s ease;
			}
		}

		.blur-bg {
			display: none;
			transition: all 0.3s ease;
			overflow-y: hidden;

			&.open {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100vh;
				width: 100%;
				z-index: 1;
				backdrop-filter: blur(2px);
				background-color: #2e8bca5c;
			}
		}
	}

	@include set(768) {
		// background-color: $white;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	}
}

#main-nav {
	&.header-sticky {
		width: 100%;
		z-index: 10;
		background: $darker;

		background: linear-gradient(
			90deg,
			rgba($darker, 0.8) 0,
			rgba($dark, 0.6) 100%
		);
		box-shadow: 0 6px 20px 0 rgba($darker, 0.55);
		backdrop-filter: blur(20px);
		.container {
			min-height: 4.4rem;

			.navbar-brand {
				img {
					height: 2.8rem;
					width: auto;
				}
			}
		}
	}
}
@media screen and (max-width: 769px) {
	li.menu-item-has-children {
		margin: 0 !important;
		a {
			display: none !important;
		}
		ul.sub-menu {
			padding: 0;
			display: flex;
			flex-direction: column;
			li {
				a {
					display: block !important;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;

		nav {
			position: fixed;
			width: 100%;

			.container {
				.nav-links {
					// overflow-y: hidden;
					padding: 0;
					position: fixed;
					height: 100vh;
					top: 0;
					right: 0;
					bottom: 0;
					background-color: $primary;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 50%;
					align-items: center;
					transform: translateX(100%);
					transition: transform 0.2s ease-in-out;
					z-index: 2;
					li {
						margin: 50px 0px 50px 0px;
						opacity: 1;
						a {
							color: #fff;
							@include set(768) {
								color: $dark;
								@include margin(10, 0, 10, 0);
								font-weight: 500;
							}
						}
					}

					@include set(500) {
						background-color: rgba($primary, $alpha: 0.9);
						background: $primary;
						background: linear-gradient(
							135deg,
							rgba($primary, 0.9) 0%,
							rgba($secondary, 0.9) 100%
						);
					}

					&.nav-active {
						transform: translateX(0);
					}
				}

				.ham-burger {
					display: block;
					z-index: 2;
					display: flex;

					.all-lines {
						&.toggle {
							.line1 {
								transform: rotate(-45deg) translate(-5px, 6px);
								background-color: $dark;
							}

							.line2 {
								opacity: 0;
							}
							.line3 {
								transform: rotate(45deg) translate(-5px, -6px);
								background-color: $dark;
							}
						}
					}

					.cart-icon {
						margin-right: 2rem;
					}
				}
			}
		}
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: 50px;
	}
	to {
		opacity: 1;
		transform: 0;
	}
}

@media screen and (min-width: 555px) {
	li.menu-item-has-children {
		position: relative !important;
		display: flex !important;
		margin: 0;
		a {
			color: white;
			border: none;
			position: relative;
			margin-right: 0.4rem !important;
			padding: 2rem 0rem 1rem 1rem !important;
			margin: -2rem 0.5rem !important;

			&:before {
				position: absolute;
				display: inline-block;
				margin-left: 0.255em;
				vertical-align: 0.255em;
				content: "";
				border-top: 0.3em solid;
				border-right: 0.3em solid transparent;
				border-bottom: 0;
				border-left: 0.3em solid transparent;
				right: -0.8rem;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		ul.sub-menu {
			display: none !important;
			position: absolute;
			background-color: #f1f1f1;
			border-radius: 0.2rem;
			// max-width: 100%;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
			padding: 0;
			top: 140%;
			transform: translateX(-35%);
			left: 50%;

			li {
				a {
					margin-bottom: 2rem;
					color: black;
					padding: 0.6rem 0.8rem !important;
					text-decoration: none;
					display: block;
					margin: 0 !important;

					&::before {
						display: none;
					}
				}
			}
		}

		&:hover {
			ul.sub-menu {
				// display: block !important;
				display: flex !important;
				flex-direction: column;
				width: fit-content;
				li {
					a {
						color: $dark;
						margin: 0 !important;
						min-width: max-content;
						&:hover {
							background: $primary;
							background: linear-gradient(
								103deg,
								rgba($primary, 1) 0%,
								rgba($secondary, 1) 100%
							);
							color: $white;
						}
					}
				}
			}
		}
	}
}

// li.menu-item-has-children {
// 	a {
// 		display: none !important;
// 	}
// 	ul.sub-menu {
// 		padding: 0;
// 		display: flex;
// 		flex-direction: column;
// 		li {
// 			a {
// 				// display: block;
// 			}
// 		}
// 	}
// }
