nav {
	z-index: 5;
	background-color: rgba($darker, $alpha: 0.9);
	position: fixed;
	width: 100%;
	backdrop-filter: blur(20px);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: #{toRem(78)};

		.logo {
			font-size: 2rem;
			img {
				@include height(51);
				@include width(90);
			}
		}

		.navbar-brand {
			img {
				@include height(51);
				@include width(90);
			}
		}

		.nav-links {
			display: flex;
			justify-content: space-around;
			margin: 0;

			li {
				position: relative;
				list-style: none;
				display: contents;

				a {
					@include font-size(16);
					padding: 0;
					@include margin(0, 0, 0, 26);
					text-transform: capitalize;
					font-weight: 400;
					color: $white;
					transition: all 0.2s ease-in-out;

					@include set(768) {
						font-size: 3rem;
					}
					@include set(450) {
						font-size: 2rem;
					}

					&:hover {
						color: $text;
					}
				}

				.cart-icon {
					cursor: pointer;
					height: 1.5rem;

					@include set(768) {
						display: none;
					}
				}

				@include set(450) {
					font-size: 2rem;
					margin: 2.5rem 0 !important;
				}
			}

			&.nav-active {
				@include set(500) {
					width: 100%;
				}
			}
		}

		.ham-burger {
			display: none;

			.line {
				width: 25px;
				height: 3px;
				background-color: $white;
				margin: 5px;
				transition: all 0.3s ease;
			}
		}

		.blur-bg {
			display: none;
			transition: all 0.3s ease;
			overflow-y: hidden;

			&.open {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				height: 100vh;
				width: 100%;
				z-index: 1;
				backdrop-filter: blur(2px);
				background-color: #2e8bca5c;
			}
		}
	}

	@include set(768) {
		// background-color: $white;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	}
}

#navigation {
	&.header-sticky {
		position: fixed;
		width: 100%;
		z-index: 10;

		background: #ffffff;

		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.8) 0,
			#ffffff 100%
		);
		-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;

		nav {
			position: fixed;
			width: 100%;

			.container {
				.nav-links {
					// overflow-y: hidden;
					padding: 0;
					position: fixed;
					height: 100vh;
					top: 0;
					right: 0;
					bottom: 0;
					background-color: $primary;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 50%;
					align-items: center;
					transform: translateX(100%);
					transition: transform 0.2s ease-in-out;
					z-index: 2;
					li {
						margin: 50px 0px 50px 0px;
						opacity: 1;
						a {
							color: #fff;
							@include set(768) {
								color: $dark;
								@include margin(10, 0, 10, 0);
								font-weight: 500;
							}
						}
					}

					@include set(500) {
						background-color: rgba($primary, $alpha: 0.9);
						background: $primary;
						background: linear-gradient(
							135deg,
							rgba($primary, 0.9) 0%,
							rgba($secondary, 0.9) 100%
						);
					}

					&.nav-active {
						transform: translateX(0);
					}
				}

				.ham-burger {
					display: block;
					z-index: 2;
					display: flex;

					.all-lines {
						&.toggle {
							.line1 {
								transform: rotate(-45deg) translate(-5px, 6px);
								background-color: $dark;
							}

							.line2 {
								opacity: 0;
							}
							.line3 {
								transform: rotate(45deg) translate(-5px, -6px);
								background-color: $dark;
							}
						}
					}

					.cart-icon {
						margin-right: 2rem;
					}
				}
			}
		}
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: 50px;
	}
	to {
		opacity: 1;
		transform: 0;
	}
}
