* {
	font-family: "Circular" !important;
}
@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/CircularStd-Medium.woff") format("woff");
}

@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/CircularStd-Bold.woff") format("woff");
}

@font-face {
	font-family: "Circular";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("../fonts/CircularStd-Black.woff") format("woff");
}
